[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
torchvision = "*"
pip = "*"
install = "*"
sentence-splitter = "*"
sentencepiece = "*"

[dev-packages]

[requires]
python_version = "3.10"
